
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px auto;
  text-align: center;
  width: 700px;
}

.card-white h2 {
  font-family: 'lato';
  font-size: 30px;
}

/* Custom all container-class as responsive container*/
@media (max-width: 760px) {
  .card-white {
    width: 570px;
  }
}

@media (max-width: 480px) {
  .card-white {
    width: 380px;
  }
}

@media (max-width: 350px) {
  .card-white {
    width: 230px;
  }
}

.cards{
  display:flex;
  width: 890px;
  flex-wrap: wrap;
  margin: 40px auto;
}

.card{
  padding: 20px;
  display: flex;
  align-items: center;
  align-items:
  justify-content: space-between;
  box-shadow: 0px 7px 30px rgba(0,0,0,0.3);
  border-radius: 5px;
  margin: 10px;
  flex-basis: 250px;
  flex-grow: 1;
  height: 200px;
}

.card img {
  width: 160px;
  border-radius: 5px;
}

.cards h3 {
  flex-grow: 1;
  padding-left: 25px;
  font-size: 20px;
  font-family: 'courier';
}

.card-box{
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.card-box a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.card-box i{
  font-size: 20px;
  color: #2B2B2B;
}

